h1{
	color: white;
	background-color: black;
	text-align: center;
}
p{
	color:white;
	background-color:black;
	text-align: justify;
	font: 18px arial, sans-serif;
}
h2{
	color: white;
	background-color: black;
	text-align: center;
}
ul{
	color:white;
	background-color:black;
	text-align: justify;
	font: 18px arial, sans-serif;
}